<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969674476562-udfs13tpk7175t20fn24kn7sbh8hluk3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969674476562-udfs13tpk7175t20fn24kn7sbh8hluk3</string>
	<key>API_KEY</key>
	<string>AIzaSyDv_mrrWd9hR915llhb5dtbsBjW-cbD6AU</string>
	<key>GCM_SENDER_ID</key>
	<string>969674476562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simicart.baytonia</string>
	<key>PROJECT_ID</key>
	<string>baytonia-1e956</string>
	<key>STORAGE_BUCKET</key>
	<string>baytonia-1e956.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969674476562:ios:98bca5a4f6ef0ee6811ccb</string>
	<key>DATABASE_URL</key>
	<string>https://baytonia-1e956.firebaseio.com</string>
</dict>
</plist>